# dependencies
node_modules/

# build
dist/
.astro/

# env
.env
.env.*

# OS
.DS_Store

# CV muy pesado (conservar solo localmente)
public/cv/hoja-de-vida-completa.pdf

# logs
*.log

# editor
.vscode/
!.vscode/extensions.json
